@section BackButton
{
    @Html.Partial("_HeaderBackButtonPartial")
}
<div class="container">
    <p class="help_page">
        For any questions regarding PromoSuite Next, please feel free to contact your Client Relations Rep at 212.509.1200
        or <a href="mailto:info@promosuite.com">info@promosuite.com</a>. Our normal business hours are Monday-Friday, 9:00am through 7:00pm EST.
    </p>
</div>