<div class="content">
    <div class="panel">
        <div class="user pull-right">
            <p id="user">@ViewBag.UserName</p>
            <div id="station_list">
                <div id="station_call">@ViewBag.StationCall</div>
            </div>
            <div id="toggler">

                @foreach (var station in ViewBag.Stations)
                {
                    <div onclick="changeStation(@station.StationId)">@station.StationCall</div>
                }

            </div>
               
        </div>

        <div class="logo pull-right" id="logo">
            <img width="125" height="55" alt="" src="~/Images/HeaderLogo.png">
    
        </div>
    
        <div id="clear"></div>
        <hr>
        <div class="navigation pull-right" >
            <ul>
                <li><a href="/Guest/Index">Guest Lists</a></li>
                <li><a href="https://next.promosuite.com/MyPromoSuite.aspx">Full Site</a></li>
                <li><a href="/Home/Help">Help</a></li>
                <li><a href="/Home/SignOut">Logout</a></li>
            </ul>
        </div>
    
    </div>
    
</div>
@section scripts {
    <script>
        $(function() {
            $('#station_list').click(function() {
                $('#toggler').toggle('slow');
            });

            $(document).ready(function() {
                $("").click(function() {
                    $(".panel").toggle("fast");
                    $(this).toggleClass("active");
                    return false;
                });
            });

        });
    </script>
}