<script src="../Scripts/contestlist.js" type="text/javascript"></script>

<div class="main_content">
    <div class="block">
        <form method="post">
            <div class="contest">
                @Html.ValidationMessage("keyName")
                @Html.Raw(ViewBag.Alert)               
                <select id="contestSelect" name="Id" onchange="OnCurrentContestChanged()">
                    <option selected="selected" value="" data-sort="no">Pick Your Contest</option>

                    @{
                        foreach (var contest in ViewBag.Contests)
                        {
                            <option value=@contest.Id data-sort="yes">@contest.Name</option>

                        }
                    }
                </select>
            </div>
            <div class="sort_block">
                <div id="sortcontest">Sort By Contest Name</div>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>


            </div>
            <div id="btngenerate">
                <button type="submit" id="generatelist">Generate<br> Guest List</button>
            </div>

        </form>
    </div>
</div>

@section scripts {
        
    <script type="text/javascript">
        var contestList = new ContestList({});
        var UpdateContestSelectionAction = '@Url.Action("UpdateContestSelection", "Contest")';
    </script>
}
