
<a href=""><span class="glyphicon glyphicon-menu-hamburger" data-toggle=".cont" id="menu-ham"></span></a>
@*<a href="#" data-toggle=".cont" id="sidebar-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</a>*@