
<div>
	<div id="header">
		<div class="page">
			<div class="logo">
				<img width="125" height="55" alt="" src="~/Images/HeaderLogo.png">
			</div>
            <div class="menu-button">
                <a href=""><img src="~/Images/MenuButton.png" alt="" /></a>
            </div>
		</div>
	</div>
	@*<div class="location">
		@{
			if (ViewBag.Location != null)
			{
				<span>@ViewBag.Location</span>
			}
		}
	</div>*@
</div>
