
<div>
	<div id="header">
		<div class="page">
			<div class="back-button">
				<a href="">< Back</a>
			</div>
			<div class="logo">
				<img width="125" height="55" alt="" src="~/Images/HeaderLogo.png">
			</div>
			<div class="menu-button">
				<a href=""><img src="~/Images/MenuButton.png" alt="" /></a>
			</div>
		</div>
	</div>
	@*<div class="location pull-right" style="font-size:90%">
		@{
			if (ViewBag.Location != null)
			{
				<span>@ViewBag.Location</span>
			}
		}
	</div>*@
</div>
