
@*<a href=""><span class="glyphicon glyphicon-menu-hamburger" id="menu-ham"></span></a>*@
<a href="#" data-toggle=".wrap" id="sidebar-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</a>