
@section Header
{
	@Html.Partial("_LoginHeaderPartial")
}

<form method="post">
	@Html.AntiForgeryToken()
  <table width="300" align="center" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td valign="top">
          <div class="selectbox" style="height: 291px;">
            <table width="300" align="center" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td height="5">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td height="35">
                    Username:
                  </td>
                </tr>
                <tr>
                  <td>
										<input name="Username" tabindex="1" style="width: 260px;" type="text">
                  </td>
                </tr>
                <tr>
                  <td height="35">
                    Password:
                  </td>
                </tr>
                <tr>
                  <td>
										<input name="Password" tabindex="2" style="width: 260px;" type="password" autocomplete="off">
                  </td>
                </tr>
                <tr>
                  <td height="35" valign="middle">
                    Station:
                  </td>
                </tr>
                <tr>
                  <td>
										<input name="Station" tabindex="3" style="width: 260px;" type="text">
                  </td>
                </tr>
                <tr>
                  <td height="50" valign="top">
                    <table width="260" border="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td width="197" height="51">
														<input name="RememberStation" tabindex="4" id="RememberStation" type="checkbox">
														<label for="RememberStation">Remember Station</label>
                          </td>
                          <td width="57">
                            <input tabindex="5" type="submit" value="Login">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td height="30" valign="top">
                    <div style="font-size:8px; display:inline">
                      &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="nbsp" style="display:inline">
                      <a href="https://facebook.com/PromoSuite" target="_blank">
                        <img width="20" height="20" title="Like Us On Facebook" alt="Like Us On Facebook" src="~/Images/LinkFaceBook.png" border="0">
                      </a>
                      <a href="https://www.twitter.com/promosuite" target="_blank">
                        <img width="20" height="20" title="Follow Us On Twitter" alt="Follow Us On Twitter" src="~/Images/LinkTwitter.png" border="0">
                      </a>
                      <a href="https://plus.google.com/116874076172699520382/" target="_blank">
                        <img width="20" height="20" title="Follow Us On Google+" alt="Follow Us On Google+" src="~/Images/LinkGooglePlus.png" border="0">
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td width="23%" height="20"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr>
        <td height="62" align="center" colspan="3">
          <hr size="1">
        </td>
      </tr>
    </tbody>
  </table>
</form>
